*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;

}

header{
    background-color: #ffffff;
    padding: 15px 20px;
}

.app-title{
    display: inline-block;
    vertical-align: middle;
}

.app-logo{
    vertical-align: middle;
}

.conteiner{
    max-width: 785px;
    margin: auto;
    background-color: #ffffff;
    padding: 15px 50px;
    margin-top: 40px;
}

.add-task{
    background-color: #14aaf5;
    color: #ffffff;
    border-radius: 5px;
    border-color: #14aaf5;
    width: 68px;
    height: 25px;
}

.add-section{
    border-radius: 5px;
    border-color: #c4cbd0;
    color: #c4cbd0;
    width: 84px;
    height: 25px;
}

hr{
    color: #c4cbd0;
    margin-top: 10px;
}

.circle{
    display: inline-block;
    border: 1px solid green;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    color: green;
}

.circle-x{
    display: inline-block;
    border: 1px solid red;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    color: red; 
}

.azzurro{
    background-color: #09a9ed;
    color: #ffffff;
    border-radius: 10px;
    border-color: #09a9ed;
    width: 55px;
    height: 20px;
    font-size: 12px;
}

.viola{
    background-color: #ab5de6;
    color: #ffffff;
    border-radius: 10px;
    border-color: #ab5de6;
    width: 60px;
    height: 20px;
    font-size: 12px;
}

.verde-acqua{
    background-color: #2cc6ab;
    color: #ffffff;
    border-radius: 10px;
    border-color: #2cc6ab;
    width: 65px;
    height: 20px;
    font-size: 12px;
}

.arancione{
    background-color: #ff9b00;
    color: #ffffff;
    border-radius: 10px;
    border-color: #ff9b00;
    width: 50px;
    height: 20px;
    font-size: 12px;
}

.rosa{
    background-color: #ec4a9d;
    color: #ffffff;
    border-radius: 10px;
    border-color: #ec4a9d;
    width: 55px;
    height: 20px;
    font-size: 12px;
}

.verde{
    background-color: #a3d116;
    color: #ffffff;
    border-radius: 10px;
    border-color: #a3d116;
    width: 45px;
    height: 20px;
    font-size: 12px;
}






